@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
* {
  box-sizing: border-box;
}
html{
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
}

body {
  display: grid;
  grid-template: 2fr 540px 39px 1fr / 1fr 540px 1fr;
  grid-gap: 13px;
  place-items: stretch;
  place-content: stretch;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
}

main{
  grid-area: 2 / 2;
  background-color: #fff;
  box-shadow: 0 0 5px #333;
  line-height: 1px; /* required to make sure pixels are vertically stacked */
}

.overlay{
  grid-area: 2 / 2;
  background-color: #ddd;
  opacity: .5;
  font-weight: bolder;
  font-size: 200%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  cursor: pointer;
}

.pixel {
  vertical-align: top;
  display: inline-block;
  /* height and width computed in JS using setPixelSizeInCss(numberOfPixelsPerSide) */
  background-color: #fff;
}

.painted-black {
  background-color: #333;
}
.painted-red {
  background-color: #fe0229;
}
.painted-orange {
  background-color: #ffa100;
}
.painted-yellow {
  background-color: #ffd000;
}
.painted-green {
  background-color: #c6df5f;
}
.painted-dblue {
  background-color: #7189bf;
}
.painted-lblue {
  background-color: #00c2b5;
}

nav{
  grid-area: 3 / 2;
  position: relative;
}

button{
  font-family: inherit;
  font-variant: small-caps;
  font-weight: bold;
  color: #eee;
  font-size: 120%;
  border: none;
  background-color: #bbb;
  border-radius: .618ex;
  width: 2em;
  height: 2em;
  position: absolute;
  box-shadow: 0 0 .25ex #333;
  cursor: pointer;
}

  button:hover{
    background-color: #aaa;
  }

  button:active{
    box-shadow: none;
    background-color: #999;
  }

#reset-btn {
  top: 0;
  left: 0;
}

#settings-btn {
  top: 0;
  right: 0;
}

aside {
  grid-area: 2 / 3;
  position: relative;
}

#settings {
  position: absolute;
  font-size: 120%;
  bottom: calc(-2em - 13px);
  font-family: inherit;
  font-variant: small-caps;
  font-weight: bold;
  color: #eee;
  border: none;
  background-color: #bbb;
  border-radius: .618ex;
  width: 2em;
  border-top: solid 5px #bbb;
  border-bottom: solid 5px #bbb;
}

.stg-category {
  width: 2em;
  height: 2em;
  border-style: solid;
  border-color: #bbb;
  cursor: pointer;
}
  .stg-category:hover {
    background-color: #ccc;
    border-color: #ccc;
  }
  .stg-category:active{
    background-color: #d9d9d9;
    border-color: #ccc;
  }

.hidden {
  display: none;
  transition: all 300ms ease;
}

#stg-color{
  background: linear-gradient(135deg, #fe0229 0%,#ffd000 33%,#c6df5f 66%,#7189bf 100%);
  border-width: 5px;
  /* border-radius-inner: 5px; */
}

.stg-options {
  background-color: #ccc;
  /* border-top: solid 5px #ccc;
  border-bottom: solid 5px #ccc; */
  padding: 5px 0;
  box-shadow: inset  0  3px 3px -3px #333,
              inset  0 -3px 3px -3px #333;

}

.stg-item {
  display: block;
  width: 100%;
  text-align: center;
  height: 1.2em;
  line-height: 1.2em;
  color:#fff;
  cursor: default;
}

.stg-item:hover {
  background-color: #ddd;
}

#stg-col-red{
  color: #fe0229;
}

#stg-col-orange{
  color: #ffa100;
}

#stg-col-yellow{
  color: #ffd000;
}

#stg-col-green{
  color: #c6df5f;
}

#stg-col-lblue{
  color: #00c2b5;
}

#stg-col-dblue{
  color: #7189bf;
}

#stg-col-black{
  color: #333;
}

#stg-size{
  display: grid;
}

  #stg-size > i {
    place-self: center;
  }

#stg-size-xl{
  font-size: 17px;
  font-weight: 900;
}

#stg-size-l{
  font-size: 15px;
  font-weight: 700;
}

#stg-size-m{
  font-size: 13px;
  font-weight: 500;
}

#stg-size-s{
  font-size: 11px;
  font-weight: 300;
}

#stg-size-xs{
  font-size: 9px;
  font-weight: 100;
}
#color-selector{
  color: #fff;
  position: absolute;
  left: 12px;
  line-height: inherit;
}
#stg-triangle{
  width: 0;
  height: 0;
  border-right: 8px solid #bbb;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  position: absolute;
  bottom: 6px;
  left: -7px;
}
.selected-size{
  color:#333;
}
